html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(226, 223, 223);
  font: normal normal normal 12px / normal "YouTube Noto", Roboto, arial,
    sans-serif;
  font-family: "YouTube Noto", Roboto, arial, sans-serif;
  font-size: 13px;
}
/* CSS Code of the navigation bar starts here */
/* ====> */
#navbar {
  background-color: white;
  height: 50px;
  top: 0;
  width: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}
/* Styling of the icons inside the navbar*/
.list-icon img {
  height: 15px;
  width: auto;
  margin-top: 5px;
  opacity: 0.8;
}
.logo-icon img {
  height: 55px;
  width: auto;
  margin-top: 5px;
  margin-left: 10px;
}
.loop-icon img {
  height: 30px;
  width: auto;
  margin-right: 15px;
  margin-top: 5px;
  height: 20px;
  position: absolute;
  right: 0px;
}
.upload-icon img {
  height: 20px;
  width: auto;
  margin-top: 5px;
  opacity: 0.8;
  margin-right: 50px;
}
/* Styling of the searchbar */
.searchbar {
  width: 90%;
  height: 30px;
  position: absolute;
  border: none;
}
#langbar {
  display: flex;
  justify-content: space-between;
  background-color: #167ac6;
  color: white;
  margin-top: 10px;
  font-weight: 900;
  padding: 50px, 50px, 50px, 50px;
}
#choose {
  display: inline-block;
  margin-left: 20px;
}

#preflang {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-color: #167ac6;
  border-style: solid;
  font-weight: 100;
  border-width: 1px;
}
#viewYt {
  margin-left: 20px;
}
#preflang a {
  color: #167ac6;
  text-decoration: none;
}

/* box1 of the navbar contains Youtube logo and the list icon*/
#box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
/* box2 of the navbar contains the search bar and the loop icon*/
#box2 {
  height: 30px;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-flex;
  border: 1px solid rgb(199, 199, 199);
  min-width: 450px;
  margin-right: 20px;
}
/* box3 of the navbar contains the Sign In button  and the upload icon*/
#box3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.signbutton {
  background-color: rgb(22, 122, 198);
  color: white;
  height: 35px;
  width: 70px;
  font-weight: 500;
  font-size: 11px;
  box-shadow: rgba(0, 0, 0, 0.046875) 0px 1px 0px;
  border: none;
  border-radius: 2px;
}
/* <==== */
/* CSS Code of the navigation bar ends here */
/* container holds the two columns col and col2 */
#container {
  width: auto;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  display: grid;
  grid-template-columns: 65% 35%;
  position: relative;
  min-width: 800px;
  min-height: 100%;
  margin-bottom: 10px;
}
/*where the video, comments and description is*/
#col1 {
  flex: 1;
  margin-right: 15px;
  justify-content: center;
  min-width: 450px;
}
/*end of col1*/
/*suggested videos*/

#section-2 {
  display: grid;
  background-color: white;
  min-width: 0;
  height: auto;
  grid-template-areas:
    "title title"
    "subscribe  nbrofviews"
    "sharebtns  likebtns";
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  padding: 5px 15px 5px 10px;
  position: relative;
  min-height: 150px;
}
#title {
  grid-area: title;
  position: relative;
}
#title span {
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  top: 20%;
  left: 1%;
}
#nbrviews {
  font-size: 19px;
  color: rgb(102, 102, 102);
  grid-area: nbrofviews;
  font-size: 20;
  margin-bottom: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#sharebtns {
  grid-area: sharebtns;

  display: grid;
  grid-template-areas: "addto share more";
  margin-top: 5px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid rgb(226, 226, 226);
}
#addto {
  grid-area: addto;

  display: flex;
  align-items: center;
  justify-content: left;
}
#share {
  grid-area: share;

  display: flex;
  align-items: center;
  justify-content: left;
}
#more {
  grid-area: more;

  display: flex;
  align-items: center;
  justify-content: left;
}
#likebtns {
  grid-area: likebtns;
  color: #808080;
  display: grid;
  grid-template-areas: "like dislike";
  margin-top: 5px;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: right;
  border-top: 1px solid rgb(226, 226, 226);
}
#like {
  grid-area: like;

  text-align: right;
  vertical-align: middle;
  display: inline-block;
}
#dislike {
  grid-area: dislike;

  text-align: right;
  vertical-align: middle;

  display: inline-block;
}

#subscribe {
  grid-area: subscribe;
  display: grid;
  grid-template-areas:
    "logo channelname channelname"
    "logo subbtn nbrofsub";
  grid-template-rows: 45px 45px;
  grid-template-columns: 90px 120px 60px;
}
#channellogo {
  grid-area: logo;
  position: relative;
}
#channellogo img {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
}

#channelname {
  grid-area: channelname;
  position: relative;
}
#channelname span {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  left: 5%;
  bottom: 5%;
}
#subbtn-container {
  grid-area: subbtn;
  position: relative;
}
#subbtn-container img {
  border: 1px solid #a6a6a6;
  position: absolute;
  width: 95%;
  height: 30px;
  top: 15%;
  left: 5%;
}
#nbrofsub {
  grid-area: nbrofsub;
  position: relative;
}
#nbrofsub span {
  color: #a6a6a6;
  height: 30px;
  width: 60%;
  position: absolute;
  background-color: #fafafa;
  top: 15%;
  border: 1px solid #a6a6a6;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
#likebtns img {
  height: 20px;
  width: auto;
  margin-top: 5px;
  opacity: 0.5;
  margin-right: 10px;
  vertical-align: middle;
}
#sharebtns img {
  height: 15px;
  width: auto;
  margin-top: 5px;
  opacity: 0.8;
  margin-right: 10px;
  vertical-align: middle;
}
#description {
  background-color: white;
  margin-top: 15px;
  padding: 20px;
}

#comments {
  background-color: white;
  margin-top: 15px;
  padding: 30px;
  color: rgb(118, 118, 118);
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#comments img {
  opacity: 0.5;
  margin-right: 10px;
}
#showbtn {
  width: 100%;
  height: 30px;
  border: none;
  border-top: 1px solid rgb(226, 226, 226);
  background-color: white;
  color: rgb(118, 118, 118);
  font-weight: bold;
  font-size: 10px;
}
/*end of col1*/
/*The second column( suggested videos) */
#col2 {
  flex: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  flex-wrap: nowrap;
  padding: 15px 15px 10px 15px;
  margin-bottom: 10%;
  min-width: 350px;
}
.vid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 5px 0px 10px 0px;
  cursor: pointer;
}
.vid-container:hover {
  cursor: pointer;
}
.vid-description {
  margin: 0px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.vid-title {
  font-size: 14px;
  font-weight: 600;
}
.vid-details {
  color: rgb(118, 118, 118);
  line-height: 1.4em;
}
#show_more {
  text-align: center;
  font-size: 10px;
  font-weight: 550;
  color: rgb(100, 100, 100);
  cursor: pointer;
}
#vid-1,
#vid-20 {
  border-bottom: 1px solid rgb(209, 209, 209);
}
.vid-img {
  position: relative;
  height: 100%;
}
.vid-duration {
  position: absolute;
  bottom: 3px;
  right: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 12px;
  padding: 3px;
}
/* Toggle switch CSS code starts here */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 17px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Toggle switch CSS code ends here */

.opt {
  display: grid;
  grid-template-areas: "left_side right_side";
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
}

#left-side {
  grid-area: left_side;
  color: black;
  font-weight: bold;
}
#right-side {
  grid-area: right_side;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
#tag-1 {
  color: rgb(118, 118, 118);
  font-weight: bold;
}
#tag-2 img {
  position: relative;
  height: 20px;
  width: auto;
}


/*end of col2*/
/* CSS code for the footer section */
#footer {
  box-sizing: border-box;
  left: 0;
  right: 0;
  height: 100px;
  position: relative;
  bottom: 0px;
  margin-top: 20px;
  background-color: white;
  padding-left: 3%;
}
#footer-btns {
  width: 60%;
  box-sizing: border-box;
  display: grid;
  grid-gap: 15px;
  grid-template-areas: "ftrlogo lang  loc res help history";
  background-color: white;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 1fr;
}
#footer-logo {
  grid-area: ftrlogo;
}
#language-btn {
  margin-top: 20px;
  grid-area: lang;
}
#location-btn {
  grid-area: loc;
  margin-top: 20px;
}
#restricted-btn {
  grid-area: res;
  margin-top: 20px;
}
#help-btn {
  grid-area: help;
  margin-top: 20px;
  min-width: 80px;
}
#footer-btns button {
  background-color: #f8f8f8;
  border: 1px solid rgba(128, 128, 128, 0.5);
  height: 28px;
  width: 80px;
}
#footer-btns select {
  background-color: #f8f8f8;
  border: 1px solid rgba(128, 128, 128, 0.5);
  height: 28px;
}

#history-btn {
  grid-area: history;
  margin-top: 20px;
  min-width: 100px;
}
.addtional-info {
  width: 30%;
  box-sizing: border-box;
  height: auto;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.addtional-info a {
  text-decoration: none;
  color: #1f1f1c;
}
.addtionalinfo {
  font-size: 20px;
  color: rgb(102, 93, 93);
  font-weight: bolder;
}
#lowerlinks {
  width: 25%;
  box-sizing: border-box;
  height: auto;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 3fr;
  grid-gap: 10px;
}
#lowerlinks a {
  text-decoration: none;
  color: #5a5a53;
  font-size: 12px;
}
/* CSS code for the footer section ends here */
